<!-- src/app/nails-price-list/nails-price-list.component.html -->
<div class="price-list-container">
    <div class="back-button">
      <a routerLink="/">
        <span class="material-symbols-outlined">arrow_back</span>
      </a>
    </div>
    <h1 class="price-list-title">Price List</h1>
    <h2 class="business-name">Nu's Nail Bar</h2>
    <div class="price-section">
      <h3>Nails</h3>
      <div class="price-item">
        <span>Manicure</span>
        <span>R140</span>
      </div>
      <div class="price-item">
        <span>Pedicure</span>
        <span>R120</span>
      </div>
      <div class="price-item">
        <span>Full Set</span>
        <span>R260</span>
      </div>
      <div class="price-item">
        <span>Fill</span>
        <span>R100</span>
      </div>
      <div class="price-item">
        <span>Removal</span>
        <span>R50</span>
      </div>
    </div>
  </div>
  