<!-- src/app/braids-price-list/braids-price-list.component.html -->
<div class="price-list-container">
    <div class="back-button">
        <a routerLink="/">
          <span class="material-symbols-outlined">arrow_back</span>
        </a>
      </div>
    <h1 class="price-list-title">Price List</h1>
    <h2 class="business-name">Nu's Beauty Bar</h2>
    <div class="price-section">
      <h3>Braids</h3>
      <div class="price-item">
        <span>Knotless</span>
        <span>R300</span>
      </div>
      <div class="price-item">
        <span>Small box braids</span>
        <span>R220</span>
      </div>
      <div class="price-item">
        <span>Meduim box braids</span>
        <span>R260</span>
      </div>
      <div class="price-item">
        <span>Large box braids</span>
        <span>R290</span>
      </div>
      <div class="price-item">
        <span>Removal</span>
        <span>R50</span>
      </div>
    </div>
  </div>
  
