<app-nav-bar [showHeader]="true" headerTitle="Book Appointment"></app-nav-bar>
<div class="appointment-container">
    <div class="header">
    </div>
    <div class="calendar">
      <div class="month-selector">
        <button (click)="previousMonth()">&lt;</button>
        <span>{{ months[selectedMonthIndex] }}</span>
        <button (click)="nextMonth()">&gt;</button>
      </div>
      <div class="days">
        <span>Mo</span>
        <span>Tu</span>
        <span>We</span>
        <span>Th</span>
        <span>Fr</span>
        <span>Sa</span>
        <span>Su</span>
        
        <span *ngFor="let date of dates" class="date" [ngClass]="{'selected': date.selected}" (click)="selectDate(date)">{{ date.day }}</span>
      </div>
    </div>
    <div class="period-selection">
      <h2>Select Time Period</h2>
      <button (click)="selectPeriod('morning')" [ngClass]="{'active': selectedPeriod === 'morning'}">Morning</button>
      <button (click)="selectPeriod('afternoon')" [ngClass]="{'active': selectedPeriod === 'afternoon'}">Afternoon</button>
    </div>
    
    <div class="time-selection">
      <h2>{{ selectedPeriod | uppercase }}</h2>
      <div class="time-slots">
        <span class="time-slot" *ngFor="let time of (selectedPeriod === 'morning' ? morningTimes : afternoonTimes)"
              [ngClass]="{'selected': time.selected}" (click)="selectTime(time)">
          {{ time.time }}
        </span>
      </div>
    </div>
    
    <div class="specialist-selection">
      <h2>Choose Beauty Specialist</h2>
      <div class="specialists">
        <div class="specialist" *ngFor="let specialist of specialists">
          <img [src]="specialist.image" [alt]="specialist.name">
          <p>{{ specialist.name }}</p>
        </div>
      </div>
    </div>
    <button class="book-button" (click)="bookAppointment()">Book Appointment</button>
</div>
