/* src/app/book-appointment/book-appointment.component.scss */
.appointment-container {
    padding: 20px;
    font-family: Arial, sans-serif;
    background: white;
    height: 100vh;
  }
  
  .header {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .header h1 {
    font-size: 1.5em;
    margin: 0;
  }
  
  .header p {
    margin: 0;
  }
  
  .menu-icon {
    font-size: 24px;
    cursor: pointer;
  }
  
  .calendar {
    margin-top: 20px;
  }
  
  .month-selector {
    text-align: center;
    margin-bottom: 10px;
  }
  
  .month-selector select {
    padding: 5px;
    font-size: 1em;
  }
  

  .days {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    gap: 5px;
  }
  
  .days span {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 40px; /* Adjust height as needed */
    cursor: pointer;
  }
  .date {
    background: #f4f4f4;
    border-radius: 30%;
    transition: background 0.3s;
  }

.date.selected {
  background-color: #3f3c3d;
  color: white;
}
  
  .time-selection {
    margin-top: 20px;
  }
  
  .time-selection h2 {
    font-size: 1.2em;
  }
  
  .time-slots {
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
  }
  
  .time-slot {
    flex: 1;
    text-align: center;
    padding: 10px;
    cursor: pointer;
    margin: 0 5px;
    border: 1px solid #ddd;
    border-radius: 5px;
  }
  
  .time-slot.selected {
    background-color: #6e696b;
    color: white;
  }
  
  .specialist-selection {
    margin-top: 20px;
  }
  
  .specialist-selection h2 {
    font-size: 1.2em;
  }
  
  .specialists {
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
  }
  
  .specialist {
    text-align: center;
  }
  
  .specialist img {
    width: 70px;
    height: 70px;
    border-radius: 50%;
  }
  
  .book-button {
    width: 100%;
    padding: 15px;
    background-color: #6e696b;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1.2em;
    margin-top: 20px;
  }
  